.content {
    width: 224px;
    padding: 10px 0;
    background: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 12px;
    border-radius: 8px;

    div {
        box-shadow: none;
    }
}
.menu-item {
    display: flex;
    width: 100%;
    padding: 6px 5px 6px 12px;
    color: rgb(22, 24, 35);
    min-height: 36px;
    font-weight: 500;
    font-size: 1.6rem;
    cursor: pointer;
    background-color: transparent;

    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
}

//dark-light
.dark-light {
    display: flex;
    padding: 4px 12px;
    justify-content: space-between;

    button {
        background-color: transparent;

        div {
            display: inline-block;
            padding: 0 23px 0 5px;
            height: 20px;
            width: 20px;
        }
    }
}
