.wrapper {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
    height: 60px;
    width: 100%;
}
.inner {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0;
}

//logo
.logo {
    background-color: transparent;

    & img {
        width: 120px;
        height: 34px;
    }
}

//action
.action {
    display: flex;
    // margin-right: 16px;
}
.current-user {
    display: flex;
}
.icon-user-mess {
    cursor: pointer;
    height: 36px;
    width: 36px;
    margin-right: 16px;
    font-size: 2.2rem;
    background-color: transparent;
}
.avatar-user {
    background: center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    border-radius: 50%;
    cursor: pointer;
    width: 35px;
    height: 35px;
    margin-right: 20px;
}

.more-btn {
    font-size: 1.8rem;
    margin: 0 35px 0 20px;
    background-color: transparent;
    color: rgba(22, 24, 35, 1);
    padding: 0 8px;
    cursor: pointer;
}
