.wrapper {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
    height: 60px;
    width: 100%;
}
.inner {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0;
}

//logo
.logo {
    background-color: transparent;

    & img {
        width: 120px;
        height: 34px;
    }
}

//search
.search,
.search-result {
    min-width: 516px;
}
.search {
    position: relative;
    display: flex;
    height: 46px;
    padding: 0 0 0 15px;
    background: rgba(22, 24, 35, 0.06);
    border: 1.5px solid transparent;
    border-radius: 92px;

    &:hover {
        border: 1.5px solid rgba(36, 34, 34, 0.2);
    }
    &:hover .btn-search {
        background-color: rgba(178, 178, 178, 0.2);
    }

    .input {
        flex: 1;
        height: 100%;
        font-weight: 400;
        font-size: 16px;
        padding-right: 40px;
        background: transparent;
    }

    &::after {
        content: '';
        position: absolute;
        width: 1px;
        height: 28px;
        top: 9px;
        right: 52px;
        background: rgba(18, 19, 28, 0.12);
    }
}

.btn-delete,
.btn-loading {
    position: absolute;
    right: 68px;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.34);
    background-color: transparent;
}
.btn-search {
    width: 52px;
    height: 46px;
    font-size: 20px;
    border-top-right-radius: 92px;
    border-bottom-right-radius: 92px;

    &:hover {
        cursor: pointer;
    }
}
// tippy search account
.search-title {
    height: 30px;
    padding: 5px 12px;
    font-size: 1.4rem;
    line-height: 20px;
    font-weight: 600;
    color: rgba(22, 24, 35, 0.5);
}

//action
.action {
    display: flex;
    // margin-right: 16px;
}
.current-user {
    display: flex;
}
.icon-user-mess {
    cursor: pointer;
    height: 36px;
    width: 36px;
    margin-right: 16px;
    font-size: 2.2rem;
    background-color: transparent;
}
.avatar-user {
    background: center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    border-radius: 50%;
    cursor: pointer;
    width: 35px;
    height: 35px;
    margin-right: 20px;
}

.more-btn {
    font-size: 1.8rem;
    margin: 0 35px 0 20px;
    background-color: transparent;
    color: rgba(22, 24, 35, 1);
    padding: 0 8px;
    cursor: pointer;
}
